<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>
<%= link_to "" %>
<%= link_to "Privacy Policy", "/privacy_policy" %>
<div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/280x280_RS/d9/c4/8d/d9c48dc250c28329592bfb125b5eb1ca.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text tao build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>